<div class="col-md-6 about-me">
    <p>
      Hello, my name is Greg Donnell.  I have been a software engineer since 2011 and graduated college 
      in 2015.  During college, I freelanced for a MysticNet marketing doing PHP, worked on the graduate
       tracking program for my college in C#, and worked on many Python projects for classes.
    </p>
    <p>
      Since graduating, I have worked at IBM doing Android development for Workspaces.  After IBM, I 
      went to work for Google doing Java development for their Compliance team.  The compliance team 
      works on processes that every single one of Google's payment profiles has to go through.
    </p>
    <p>
      Outside of work, I like to spend time with my girlfriend and pets.  I have a dog, two cats, and 
      nine fish.  I also spend time working on different hobbies such as electronics, making model kits,
       working out, and now blogging!
    </p>
    <div class="center-container">
        <a href="https://github.com/donnell74" class="col-md-2">
            <%= image_tag("github_black.png", width: "64", height: "32", :alt => "Github for user donnell74") %>
        </a>
        <a href="https://www.linkedin.com/in/gregory-donnell-8b28455b/" class="col-md-2">
            <%= image_tag("linkedin_black.png", width: "80", height: "32", :alt => "LinkedIn for Gregory Donnell") %>
        </a>
    </div>
</div>