<div class="col-md-4 welcome">
    <p>
        Hello, welcome to my blog!  Have you ever wondered what it takes to make a 
        blog?  Join me in my adventures and find out what it takes.  I detail 
        the steps, the decisions made, and all the places that caused me problems. 
    </p>
    <%= link_to 'My Blog', controller: 'articles' %>
</div>