<header>
  <div class="jumbotron text-center">
    <h1>Greg and the Holy Rails</h1>
  
    <span class="col-sm-1">    
      <%= link_to "Blog", articles_path %>
    </span>
    <span class="col-sm-1">
      <%= link_to "About Me", aboutme_path %>
    </span>
    <span class="col-sm-1">
      <%= link_to "Subscribe", new_subscriber_path %>
    </span>
  </div>
</header>